<h1> Galp천es & Estoque </h1>

<h2>Galp천es</h2>

<% @warehouses.each do |w| %>
  <%= link_to w.name, warehouse_path(w.id) %>
  Codigo: <%= w.code%>
  Cidade: <%= w.city%>
  <%= w.area%> m2
<% end%>

<% if @warehouses.empty? %>
  <p>N찾o existem galp천es cadastrados</p>
<% end %>
