
<h1>Pedidos</h1>

<% @orders.each do |odr| %>

<dl>
  <dt>Pedido no Galpão: </dt>
  <dd><%= link_to odr.warehouse.name, odr %> </dd>
</dl>

<% end %>
  <% if @orders.empty? %>
    <p>Não existem galpões cadastrados</p>
<% end %>

